<?xml version="1.0" encoding="utf-8"?>
<FictionBook xmlns="http://www.gribuser.ru/xml/fictionbook/2.0" xmlns:l="http://www.w3.org/1999/xlink">
    <description>
        <title-info>
            <author>
                <first-name>Без</first-name>
                <last-name>Авторства</last-name>
            </author>
            <book-title><b>Крипипаста</b>(жутковатые истории). Часть {{ part }}.</book-title>
            <annotation>
                <b>Крипипаста</b>(жутковатые истории). Часть {{ part }}.
                <p><b>Подборка крипипасты</b>, собраная в рунете. Львиная доля историй, разумеется, выдумка. Часто не очень удачная. Но многие истории претендуют на реальность. Случились ли они в жизни авторов - кто знает...</p>
            </annotation>
            <coverpage>
                <image l:href="#cover.jpg" />
            </coverpage>
            <lang>ru</lang>
        </title-info>
        <document-info>
            <author>
                <first-name>Виталий</first-name>
                <last-name>Трунин</last-name>
            </author>
            <id>202101230000</id>
            <version>1.0</version>
        </document-info>
        <publish-info>
            <book-name>Крипипаста (жутковатые истории). Часть {{ part }}. </book-name>
        </publish-info>
    </description>
    <body>
    {% for story in stories %}
    <section>
        <title>
            <p>{{ story.title }}</p>
        </title>
        {{ story.content|raw }}
    </section>
    {% endfor %}
    </body>
    {% for image in images %}
        <binary id="{{ image.hash }}" content-type="image/jpeg">{{ image.base64 }}</binary>
    {% endfor %}
    <binary id="cover.jpg" content-type="image/jpeg">{{ image_data[part] }}</binary>

</FictionBook>